**Data types in Python**

- String
- List
- Tuple
- Set
- Dictionary

** String **

In [22]:
# String: strings are always remains in double / single quotes, it is immutable
raw_str = "abc"
print(type(raw_str))
print(len(raw_str))
for c in raw_str:
    print(c)  # indentation
    if len(c) < 2:
        print(c*2)

<class 'str'>
3
a
aa
b
bb
c
cc

In [23]:
a ='jhdgjajsa'
a

'jhdgjajsa'

** LIST **

In [24]:
# List: list always has square brackets , it is mutable
raw_list = []
print(type(raw_list))
print(len(raw_list))
############################
raw_list1 = [ 1, 2, 3]  # list of integres
raw_list2 = ["abc", "pqrew", "hdjks", "23"]   # list of strings
print(len(raw_list1))
print(len(raw_list2))
print("-------------------------------------")
for c in raw_list1:
    print(c)
for d in raw_list2:
    print(d)
    
################################################

print(raw_list2[0])

#####################

raw_list2[3]  = "hdjhjksdhjhdjks"

print(raw_list2[3])

raw_list2.append("psssdsd")
print(len(raw_list2))

for l in raw_list2:
    print(l)

<class 'list'>
0
3
4
-------------------------------------
1
2
3
abc
pqrew
hdjks
23
abc
hdjhjksdhjhdjks
5
abc
pqrew
hdjks
hdjhjksdhjhdjks
psssdsd

** Tuples**

In [25]:
# Tuples: Tuples requires atleast one comma, and remains enclosed by  paranthes (it optional)
# It is immutable
raw_tuple = (2,3)
raw_tuple1 = 2,4
raw_tuple2 = ()
print(type(raw_tuple2))
print(type(raw_tuple), len(raw_tuple))
print(type(raw_tuple1), len(raw_tuple1))
raw_tpl = (3,)
print(type(raw_tpl))
ra_lst = ["ds"]
raw_str22 = "A"

for t in raw_tuple:
    print(t)

<class 'tuple'>
<class 'tuple'> 2
<class 'tuple'> 2
<class 'tuple'>
2
3

In [26]:
# Dictionary: Data remains in key and value pair format and remin enclosed by {}; it is also mutable

raw_dict = {}
print(type(raw_dict), len(raw_dict))

raw_dict1 = {
    "name": "Saket",
    "course": "B.Voc",
    "semester": 5,
    "sudent_name": ["std1", "std2", "std3"]
}

for k, v in raw_dict1.items():
    print("I am the key {} and my value is {}".format(k, v))

all_keys = raw_dict1.keys()
print(all_keys)

all_values = raw_dict1.values()
print(all_values)

<class 'dict'> 0
I am the key name and my value is Saket
I am the key course and my value is B.Voc
I am the key semester and my value is 5
I am the key sudent_name and my value is ['std1', 'std2', 'std3']
dict_keys(['name', 'course', 'semester', 'sudent_name'])
dict_values(['Saket', 'B.Voc', 5, ['std1', 'std2', 'std3']])

In [27]:
# Set: Set are also immutable
std1 = ["A", "B", "C", "D"]
std2 = ["A", "C", "P", "Q"]
print(type(std1), type(std2))
std1_set = set(std1)
std2_set = set(std2)
print(type(std1_set), type(std2_set))
print(std1, std1_set)

comman_subject = std1_set.intersection(std2_set)
#comm = std2_set.intersection(std1_set)
print("Comman subject: {}".format(comman_subject))

different_from_std2 = std1_set.difference(std2_set)
print("std1 has these different subjects from: std2 {} ". format(different_from_std2))

diffenet_from_std1 = std2_set.difference(std1_set)
print("std2 has these different subjects from: std1 {} ". format(diffenet_from_std1))

<class 'list'> <class 'list'>
<class 'set'> <class 'set'>
['A', 'B', 'C', 'D'] {'C', 'B', 'D', 'A'}
Comman subject: {'C', 'A'}
std1 has these different subjects from: std2 {'B', 'D'}
std2 has these different subjects from: std1 {'P', 'Q'}

Since 2
August 2019
** LIST :: NEW **

It must have [] brackets,
List is *Mutable*

In [28]:
a =[]
print(type(a))
print(len(a))

<class 'list'>
0

In [29]:
b = [3 , 4 , 5, 7]
print(type(b)); print(len(b))

<class 'list'>
4

*** Print Each Element of **a** one by one ***

** 1st Method **:

In [30]:
c = len (b)
i = 0
while i < c:
    print(b[i])       # Printing each element via its index (i)
    i = i + 1         # i +=1

3
4
5
7

** 2nd Method **

In [31]:
for x in b:       # here, b is a list of integers
    print(x)

3
4
5
7

In [32]:
raw_str = ['ac', 'cd', 'pg','34']    # List of Strings
print(raw_str); print(type(raw_str)); print(len(raw_str))

['ac', 'cd', 'pg', '34']
<class 'list'>
4

In [33]:
print(raw_str[0]);             # Fetching string elements 
print(type(raw_str[0]))
print(len(raw_str[0]));

ac
<class 'str'>
2

In [34]:
print(raw_str[3])                #Fetching 4th element of string
print(type(raw_str[3]))
print(len(raw_str[3]))

34
<class 'str'>
2

In [35]:
for x in raw_str[3]:   #  Printing each element string
    print(x)        # "in" is a set operator

3
4

In [36]:
for x in raw_str:    # Printing each character of strings in list
    for y in x:
        print(y)

a
c
c
d
p
g
3
4

In [37]:
for x in raw_str:
    for y in x:
        print(y*3)    # Left side overloaded operator "*"

aaa
ccc
ccc
ddd
ppp
ggg
333
444

In [38]:
new_str1 = ["zx", "qw", "zx"]   # Homogeneuos list
new_str2 = ["xyz", 'abc', 234, '12xc'] # Heterogenous List
print("Type  of new_str1 is ", type(new_str1))
print("Type  of new_str2 is ", type(new_str2))

Type  of new_str1 is  <class 'list'>
Type  of new_str2 is  <class 'list'>

In [39]:
# Code to check type of each element of a list
for ele in new_str1:
    print("Element {} is a {} datatype with size {}".format(ele, type(ele), len(ele)))

Element zx is a <class 'str'> datatype with size 2
Element qw is a <class 'str'> datatype with size 2
Element zx is a <class 'str'> datatype with size 2

In [40]:
# Code to check type of each element of a list
for ele in new_str2:
    print("Element {} is a {} datatype".format(ele, type(ele)))

Element xyz is a <class 'str'> datatype
Element abc is a <class 'str'> datatype
Element 234 is a <class 'int'> datatype
Element 12xc is a <class 'str'> datatype

In [41]:
a = 2
print(type(a))
#print(len(a))

<class 'int'>

In [42]:
raw_list1 =  ["xz", "pq", 'ac']
print(len(raw_list1))
print(raw_list1)
raw_list1.append("anv")  # Appended an element to the string
print(len(raw_list1))
print(raw_list1)

3
['xz', 'pq', 'ac']
4
['xz', 'pq', 'ac', 'anv']

In [43]:
raw_list1.append(new_str2)    # will give nested list
print(raw_list1)

['xz', 'pq', 'ac', 'anv', ['xyz', 'abc', 234, '12xc']]

In [44]:
for ele in raw_list1:
    print(ele)

xz
pq
ac
anv
['xyz', 'abc', 234, '12xc']

In [45]:
for ele in raw_list1:
    if type(ele) == list:
        for ele1 in ele:
            print(ele1)        
    else:
        print(ele)

xz
pq
ac
anv
xyz
abc
234
12xc

In [46]:
raw_list2 = ['as', "jsl", "sd"]
tmp_list = ["dsg",'sdg', 'sds']
raw_list2.extend(tmp_list)
print(raw_list2)

['as', 'jsl', 'sd', 'dsg', 'sdg', 'sds']

In [47]:
raw_list3 = []
raw_list3 = [raw_list1, raw_list2]
print(raw_list3)
print(len(raw_list3))

[['xz', 'pq', 'ac', 'anv', ['xyz', 'abc', 234, '12xc']], ['as', 'jsl', 'sd', 'dsg', 'sdg', 'sds']]
2

** Data Type ::  Tuple**

- It is represented via ().
- It is also Mutable.

In [48]:
a = ()
print(type(a))
print(len(a))

<class 'tuple'>
0

In [49]:
b = ("fdfs", "gsf", 4, "s", 23.57)  # Heterogeneous tuple
print(b, type(b), len(b))

('fdfs', 'gsf', 4, 's', 23.57) <class 'tuple'> 5

In [50]:
# Printing each element of tuple
for ele in b:
    print(ele, type(ele))

fdfs <class 'str'>
gsf <class 'str'>
4 <class 'int'>
s <class 'str'>
23.57 <class 'float'>

** Data Type :: Set **

- It is also denoted via [ ]

In [51]:
raw_set1 = set(["avc", "asc", "as"])
print(raw_set1, type(raw_set1))

{'asc', 'avc', 'as'} <class 'set'>

In [52]:
# Set has unique elements i.e.repeatation of element is not allowed in a set 
raw_set2 = set(["avc", "asc", "as", "sdd", "as"])
print(raw_set2, type(raw_set2))

{'asc', 'sdd', 'avc', 'as'} <class 'set'>

In [53]:
raw_set3 = set(["avc", "asc", "qww", "we", "avc"])
print(raw_set3, type(raw_set3), len(raw_set3))

{'asc', 'we', 'qww', 'avc'} <class 'set'> 4

In [54]:
print("raw_set2 = ",raw_set2)
print("raw_set3 = ", raw_set3)

raw_set2 =  {'asc', 'sdd', 'avc', 'as'}
raw_set3 =  {'asc', 'we', 'qww', 'avc'}

In [55]:
print(raw_set2.intersection(raw_set3))
print(raw_set3.intersection(raw_set2))

{'asc', 'avc'}
{'asc', 'avc'}

In [56]:
print(raw_set2.union(raw_set3))
print(raw_set3.union(raw_set2))

{'as', 'qww', 'sdd', 'we', 'asc', 'avc'}
{'as', 'qww', 'we', 'sdd', 'asc', 'avc'}

In [57]:
print(raw_set2.difference(raw_set3))
print(raw_set3.difference(raw_set2))

{'as', 'sdd'}
{'we', 'qww'}

** Data Type :: Dictonary **
        
- It uses { }.
- It uses keys and values to store data.

In [58]:
raw_dict = {}
print(raw_dict, type(raw_dict), len(raw_dict))

{} <class 'dict'> 0

In [59]:
student = {
    "name": "saket",
    "course": "bvoc",
    "roll no" : 123,
    "email_id" : "saket_au@rediffmail.com",
    "marks":  [23, 45, 66, 90, 0]
}

In [60]:
print(student, type(student), len(student))

{'name': 'saket', 'course': 'bvoc', 'roll no': 123, 'email_id': 'saket_au@rediffmail.com', 'marks': [23, 45, 66, 90, 0]} <class 'dict'> 5

In [61]:
for key, value in student.items():
    print(key, value)

name saket
course bvoc
roll no 123
email_id saket_au@rediffmail.com
marks [23, 45, 66, 90, 0]

In [64]:
print("We are keys in dictionary: \n", student.keys())

We are keys in dictionary:
 dict_keys(['name', 'course', 'roll no', 'email_id', 'marks'])

In [65]:
k = student.keys()
print(type(k), len(k))

<class 'dict_keys'> 5

In [72]:
v = student.values()
print(type(v), "\n", v, "\n", len(v))

<class 'dict_values'>
 dict_values(['saket', 'bvoc', 123, 'saket_au@rediffmail.com', [23, 45, 66, 90, 0]])
 5